body{
    margin:0px;
}

.display{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top:20%;

}
.title{
    font-size: 50px;
    font-family:fantasy;
    font-weight: bold;
}

.tic-tac-toe{
    display: grid;
    grid-template-columns:repeat(3, auto);
    width: 100vw;
    justify-content: center;
    align-content: center;

}

.cell{
    width:100px;
    height: 100px;
    background-color: rgb(175, 173, 173);
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cell.x::before{
    content: 'X';
}

.cell.o::before{
    content: 'O';
}

